{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
<section id="register">
    <div class="flex-center-section">
        <div class="main-border-content">
        <h1>S'enregistrer</h1>
        
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        
        <br>
        
        {{ form_row(registrationForm.submit) }}
        {{ form_end(registrationForm) }}
    </div>
</div>
</section>

{% endblock %}