{% extends 'base.html.twig' %}

{% block title %}Modifier le menu{% endblock %}

{% block body %}
<section class="add-weekly-menu">
    <h1>Modifier ce menu de la semaine</h1>   
    {# 
    <div class="select-weekly-day" data-menu="{{ weeklyMenu.id }}">
        <form method="post">
            <select id="estimate-line-delete-form">
                <option value="0">--Sélectionnez une journée</option>
                {% for weeklyDay in weeklyMenu.weeklyDay %}
                <option value="{{ weeklyDay.id }}" data-id="{{ weeklyDay.id }}">{{ weeklyDay.day }}
                </option>
                <a href="{{ path('app_weekly_day_delete', {id:weeklyDay.id}) }}">Supprimer ce jour</a>
                {% endfor %}
            </select>
        </form>
    </div> #}
    {{ include('weekly_menu/_form.html.twig') }}
    
</section>

{% block javascripts %}
<script src="{{ asset('assets/js/weeklyMenu.js') }}"></script>
{% endblock %}
{% endblock %}
