{% extends 'base.html.twig' %}

{% block title %}WeeklyDay{% endblock %}

{% block body %}
    <h1>WeeklyDay</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ weekly_day.id }}</td>
            </tr>
            <tr>
                <th>Day</th>
                <td>{{ weekly_day.day }}</td>
            </tr>
            <tr>
                <th>Breakfast</th>
                <td>{{ weekly_day.breakfast }}</td>
            </tr>
            <tr>
                <th>Lunch</th>
                <td>{{ weekly_day.lunch }}</td>
            </tr>
            <tr>
                <th>Dinner</th>
                <td>{{ weekly_day.dinner }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_weekly_day_index') }}">back to list</a>

    <a href="{{ path('app_weekly_day_edit', {'id': weekly_day.id}) }}">edit</a>

    {{ include('weekly_day/_delete_form.html.twig') }}
{% endblock %}
