{% extends 'base.html.twig' %}

{% block title %}Edit Recipe{% endblock %}

{% block body %}
    <h1>Edit Recipe</h1>

    {{ form_start(form) }}
    {{ form_row(form.title) }}

    {# STEPS #}
    <ul class="steps" data-index="{{ form.recipeStep|length > 0 ? form.recipeStep|last.vars.name + 1 : 0 }}"
        data-prototype="{{ form_widget(form.recipeStep.vars.prototype)|e('html_attr') }}">
    </ul>

    <button type="button" class="custom-btn add-recipe-step" data-collection-holder-class="steps">Ajouter une étape</button>

    {# INGREDIENTS #}
    <ul class="ingredients" data-index="{{ form.recipeIngredient|length > 0 ? form.recipeIngredient|last.vars.name + 1 : 0 }}"
        data-prototype="{{ form_widget(form.recipeIngredient.vars.prototype)|e('html_attr') }}">
    </ul>

    <button type="button" class="custom-btn add-recipe-ingredient" data-collection-holder-class="ingredients">Ajouter un ingrédient</button>

    {{ form_end(form) }}

    <a href="{{ path('app_recipe_index') }}">back to list</a>

    <script src="{{ asset('assets/js/recipeStepManagement.js') }}"></script>
    <script src="{{ asset('assets/js/recipeIngredientManagement.js') }}"></script>

{% endblock %}
