{% extends 'base.html.twig' %}

{% block title %}Modifier la recette{% endblock %}

{% block body %}
<section class="main-container">
    <h1>Modifier la recette</h1>

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.category) }}

    {# INGREDIENTS #}
    <ul class="ingredients"
        data-index="{{ form.recipeIngredients|length > 0 ? form.recipeIngredients|last.vars.name + 1 : 0 }}"
        data-prototype="{{ form_widget(form.recipeIngredients.vars.prototype)|e('html_attr') }}">
    </ul>

    <button type="button" class="btn add-recipe-ingredient" data-collection-holder-class="ingredients">Ajouter un
        ingrédient</button>

    {# STEPS #}
    <ul class="steps" data-index="{{ form.recipeSteps|length > 0 ? form.recipeSteps|last.vars.name + 1 : 0 }}"
        data-prototype="{{ form_widget(form.recipeSteps.vars.prototype)|e('html_attr') }}">
    </ul>

    <button type="button" class="btn add-recipe-step" data-collection-holder-class="steps">Ajouter une étape</button>

    <br>

    {{ form_row(form.description) }}
    {{ form_end(form) }}
</section>
<script src="{{ asset('assets/js/recipeStepManagement.js') }}"></script>
<script src="{{ asset('assets/js/recipeIngredientManagement.js') }}"></script>

{% endblock %}