<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    {% if app.user %}
    <li><a href="{{ path('user_recipe_index') }}">Voir mes recettes</a></li>
    <li><a href="{{ path('app_recipe_new') }}">Ajouter une recette</a></li>
    <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>

    {% else %}
        
    <li><a href="{{ path('app_login') }}">Se connecter</a></li>
    <li><a href="{{ path('register') }}">Créer un compte</a></li>
    {# <li><a href="{{ path('app_register') }}">Créer un compte</a></li> #}
    {% endif %}
</ul>

<nav class="navbar-fixed">
    <div class="nav-wrapper">
        <a href="{{ path('home') }}" class="brand-logo">
            <img src="{{ asset('assets/icons/cooking-logo.png') }}" alt="">
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ path('app_recipe_index') }}" class="recipe-navlink">Recettes</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i
                        class="material-icons right">person</i></a></li>
          
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="{{ path('app_recipe_index') }}" class="recipe-navlink">Recettes</a></li>
    {% if app.user %}
    <li><a href="{{ path('user_recipe_index') }}">Voir mes recettes</a></li>
    <li><a href="{{ path('app_recipe_new') }}">Ajouter une recette</a></li>
    <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
    {% else %}
    <li><a href="{{ path('app_login') }}"><i class="material-icons">lock</i></a></li>
    {% endif %}
</ul>