<nav>
    <div class="nav-wrapper">
        <a href="{{ path('home') }}" class="brand-logo">C O O K I N G</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ path('app_recipe_index') }}" class="recipe-navlink">Recettes</a></li>
            {% if app.user %}
            <li><a href="{{ path('app_recipe_new') }}"><i class="material-icons">add</i></a></li>
            {% else %}
            <li><a href="{{ path('app_login') }}"><i class="material-icons">lock</i></a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="{{ path('app_recipe_index') }}" class="recipe-navlink">Recettes</a></li>
    {% if app.user %}
    <li><a href="{{ path('app_recipe_new') }}">Ajouter une recette</a></li>
    {% else %}
    <li><a href="{{ path('app_login') }}"><i class="material-icons">lock</i></a></li>
    {% endif %}
</ul>